# Minified third-party license comments can contain tabs; treat generated bundles as binary-style artifacts.
web/public/webchat/webchat.js -whitespace
webchat/packages/webchat-ui/dist/browser/webchat.js -whitespace
