.customTable {
  position: relative;
  width: 100%;

  .setting {
    position: absolute;
    top: 20px;
    z-index: 99;
    right: 10px;
    cursor: pointer;
  }
}

.customTable :global(.ant-btn-link) {
  padding: 0 !important;
}

.settingFields {
  @mixin hide-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rightSide {
    background: var(--color-fill-1);
    overflow-y: auto;

    .fieldItem {
      background: var(--color-bg-1);
      border-bottom: 1px solid var(--color-border);
      font-size: 12px;
      display: flex;
      align-items: center;
      position: relative;

      .dragTrigger {
        visibility: hidden;
        cursor: move;
        font-size: 14px;
      }

      .clearItem {
        visibility: hidden;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 6px;
      }

      .dragLabel {
        @include hide-text;
        width: 108px;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        .dragTrigger,
        .clearItem {
          visibility: visible;
          color: var(--color-primary);
        }
      }
    }
  }

  .leftSide {
    .fieldLabel {
      @include hide-text;
      width: 130px;
    }
  }
}

.customTable :global(.react-resizable) {
  position: relative;
}

.customTable :global(.react-resizable-handle) {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: transparent;
}

.customTable :global(.react-resizable-handle)::after {
  content: '';
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.4em;
  background: var(--color-border);
  transition: background 0.2s;
}

.customTable :global(.react-resizable-handle):hover::after {
  background: var(--color-primary);
}