.relationships {
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}

.relationships :global(.ant-collapse-item) {
  border: none;
  margin-bottom: 20px;
}

.relationships :global(.ant-collapse-content) {
  background: var(--color-bg-1) !important;
}

.relationships :global(.ant-collapse) {
  background: var(--color-bg-1) !important;
}

.relationships :global(.ant-collapse-header) {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-2) !important;
  background: var(--color-fill-2) !important;
}

.relationships :global(.ant-collapse-arrow) {
  color: var(--color-text-2) !important;
}

.relationships :global(.ant-collapse-content-box) {
  padding: 0 !important;
}

.header {
  position: relative;

  .operation {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

    .expand {
      display: flex;
      align-items: center;
      font-size: 17px;
      cursor: pointer;

      .expandText {
        font-size: 14px;
        margin-left: 4px;
      }
    }
  }
}

.header :global(.ant-btn-link) {
  color: var(--color-text-2) !important;
}

.topo :global(.x6-widget-minimap) {
  background: var(--color-bg-1);
}

// 隐藏节点图标的 CSS 类，当节点容器有 hide-image 类时，隐藏其内部的 image 元素
:global(.x6-node.hide-image image[selector="image"]),
:global(.x6-node.hide-image > image),
:global(.x6-node.hide-image svg image) {
  display: none !important;
}

// 隐藏边的 CSS 类，当边有 hide-edge 类时，隐藏该边
:global(.x6-edge.hide-edge) {
  display: none !important;
}